@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html{
    box-sizing: border-box;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li{
    list-style: none;
}

:root{
    /* ### Primary */

--Blue: hsl(223, 87%, 63%);
--Green: rgba(15, 153, 15, 0.9);

    /* ### Secondary */

--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);

    /* ### Neutral */

--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

body{
    font-family: 'Libre Franklin', sans-serif;
}
.whole-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 2em 0;
}
header{
    margin-bottom: 2em;
}
.title{
    text-align: center;
}
.title h1{
    margin-bottom: .5em;
    color: var(--Very-Dark-Blue);
}
.title p{
    margin-bottom: 1.5em; 
    color: var(--Very-Dark-Blue);
}
.title h1 span{
    color: var(--Gray);
    font-weight: 300;
}
.form-container{
    gap: .7em;
    width: 100%;
    display: flex;
    margin-bottom: 3em;
    align-items: center;
    justify-content: center;
}
.email-only{
    gap: .5em;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.email-only p{
    margin-left: 20px;
}
input[type = email]{
    padding: .9em 2em;
    border-radius: 3em;
    border: 1px solid var(--Pale-Blue);
}
input[type = email]::placeholder{
    color: var(--Pale-Blue);
}
.error{
    color: var(--Light-Red);
    display: none;
    font-style: italic;
}
.form-container button{
    border-style: none;
    border-radius: 3em;
    padding: .9em 2.5em;
    cursor: pointer;
    width: 170px;
    color: white;
    background-color: var(--Blue);
    align-self: flex-start;
}
.form-container button:hover{
    opacity: .8;
}
.thanks{
    padding: 2em;
    display: none;
    text-align: center;
    color: white;
    margin-bottom: 2em;
    border-radius: 10px;
    transition: .5s ease-in;
    background-color: var(--Very-Dark-Blue);
}
#ok{
    padding: .5em 1em;
    margin-top: 1em;
    width: 100%;
    border: 1px solid var(--Very-Dark-Blue);
    background-color: var(--Blue);
    color: white;
}
#emailValue{
    color: var(--Green);
}
.dashboard-image{
    width: 535px;
    margin-bottom: 8em;
}
.social-media-icons{
    gap: 1em;
    display: grid;
    margin-bottom: 2em;
    place-content: center;
    background-color: black;
    grid-template-columns: auto auto auto;
}
.social-media-icons img{
    width: 2em;
    cursor: pointer;
}
.copyright{
    color: var(--Gray);
}
/* all the active classes */
.error.active{
    display: block;
}
#emailInput.active{
    outline: 2px solid var(--Light-Red);
    border: none;
}
#emailInput.correct{
    outline: 2px solid var(--Green);
    border: none;
}
#emailInput.active::placeholder{
    color: var(--Very-Dark-Blue);
    font-weight: 300;
}
.thanks.active{
    display: block;
    transition: 2s ease;
}
@media (max-width:500px){
    .whole-container{
        width: 80%;
        margin: auto;
        margin-top: 5em;
        min-height: 100vh;
        justify-content: flex-start;
    }
    .form-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .email-only,.form-container button{
        width: 100%;
        text-align: center;
    }
    .email-only{
        margin-bottom: 1em;
    }
    .email-only p{
        margin-left: 0;
    }
    .dashboard-image{
        max-width: 335px;
        width: 100%;
    }
}